<h1>Packs</h1>
<p>
    The Windows NT Modding Utility (NTMU) is a program that allows users to quickly
    patch and replace files in order to theme their system. NTMU can be used to automate
    the modification of resources in files on the user's system, including operating
    system files. Files can also be outright replaced with different ones, and new
    files can be added to the right location on the user's system. The tool additionally
    provides the ability to import registry configurations, allowing theme packs to automate
    the modification of the registry. Pack authors can define options for the end user to
    change in order to configure the theme pack to their liking before applying the pack
    to their system.
</p>
<form id="pack-search" onsubmit="event.preventDefault()">
    <input type="text" id="pack-search-input" placeholder="Search for packs...">
    <input type="submit" id="pack-search-submit" value="Search">
</form>
<div id="packs">
    <div id="filters">
        <div class="filter" data-filter="sort">
            <b>Sort by:</b>
            <a href="javascript:void(0)" class="filter-link" data-value="new">
                Newest to oldest
            </a>
            <a href="javascript:void(0)" class="filter-link" data-value="old">
                Oldest to newest
            </a>
            <a href="javascript:void(0)" class="filter-link" data-value="az">
                Name (A-Z)
            </a>
            <a href="javascript:void(0)" class="filter-link" data-value="za">
                Name (Z-A)
            </a>
        </div>
    </div>
    <div id="packs-content">
        {% for pack in packs %}
        <div class="pack" data-date="{{ pack.date }}">
            <a href="#!/pack/{{ pack.id }}">
                <div class="pack-thumb">
                    <img src="data/{{ pack.id }}/thumbnail.png">
                </div>
            </a>
            <a href="#!/pack/{{ pack.id }}" class="pack-title">
                {{ pack.name }}
            </a>
            <div class="pack-byline">
                <span>by</span>
                <a href="https://github.com/{{ pack.author.username }}">
                    {{ pack.author.display }}
                </a>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>